ul {
    list-style-type: none;
}

/*check box*/
.checkbox-label {
    margin-right: 10px;
    display: block;
    position: relative;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
}
.checkbox-label input {
    opacity: 0;
    position: absolute;;
}
.checkbox-custom  {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid black;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.checkbox-label input:checked ~ .checkbox-custom{
    background-color: grey;
}
.checkbox-label input:active ~ .checkbox-custom{
    background-color: grey;
}


.checkbox-custom:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-label input:checked ~ .checkbox-custom:after{
    display: block;
}
.checkbox-label input:active ~ .checkbox-custom:after{
    display: block;
}
.checkbox-label .checkbox-custom:after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media screen and (min-width: 801px) {
    .image-text {
        font-size: 65px;
    }
    .database-title {
        position: relative;
        top:120px;
        z-index: 1000;
    }
    .database-content {
        position: relative;
        top:210px;
    }
}

@media screen and (max-width: 800px) {
    .image-text {
        font-size: 30px;
    }
    .database-title {
        position: relative;
        top:55px;
        z-index: 1000;
    }
    .database-content {
        position: relative;
        top:145px;
    }
}