@media screen and (min-width: 801px) {
    .main-text {
      font-size: 40px;
      padding: 120px;
      height: 40vh;
      margin-left: 50px;
    }
    text {
        top: 50vh;
    }
    input {
        font-size: 16px;
        margin: 0px 5px;
        text-align: center;
        width: 50px;
        border-color: transparent;
        border-radius: 3px;
      }
    button {
        background-color: rgba(245,245,245,1);
        border-color: transparent;
        border-radius: 3px;
    }
  }
