.blog-navs {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    color: white; 
}

.blog-navs > a {
    color: white; 
}

.blog-navs > a:hover {
    border: 2px solid white;
    color: white; 
}

.nav-link {
    width: 250px;
    padding: 0;
}