.blog-navs {
    font-size: 22px;
    color: white; 
    display: flex;
    align-items: baseline;
}

.blog-navs > a {
    color: white; 
}

.blog-navs > a:hover {
    border: 2px solid white;
    color: white; 
}

.blog-navs > .nav-link,
.blog-navs > .navbar-light,
.blog-navs > .navbar-nav {
    width: 250px;
    padding: 0;
    color: white !important
}
