.footer-container {
    background-color: white; 
    display: flex;
    flex-direction: column;
}
.line-1{
    display: flex;
    justify-content: space-between;
    margin: 8vw 5vw !important;
}
.subscribe {
    color: #365247; 
    text-align: left;
    font-family: Medium;
    letter-spacing: 0; 
    width: 40%; 
}

.more-info {
    text-align: left;
    font-weight: bold;
    color: #365247;
    display: flex;
    flex-direction: row;
}


.line-2 {
    background: #365247 0% 0% no-repeat padding-box;
    height: 112.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 801px) {
    .footer-container {
        height: fit-content;
    }
    .subscribe > text {
        font-size: 36px;
    }
    .subscribe > p {
        font-size: 20px;
        line-height: 1.2;
    }
    .icons > .anticon {
        margin: 0 10px;
        font-size: 30px;
    }
}

@media screen and (max-width: 800px) { 
    .footer-container {
        height: fit-content;
    }
    .subscribe > text {
        font-size: 25px;
    }
    .subscribe > p {
        font-size: 15px;
        line-height: 1.2;
    }
    .more-info > .col > ul {
        font-size: 10px;
        padding: 0;
    }
    .icons > .anticon {
        margin: 0 10px;
        font-size: 20px;
    }
}
/*#ABD3BB */