.App {
  text-align: center;
  font-family: PingFang TC, urbane-rounded, sans-serif;
  font-style: normal;
  font-weight: 200;
  overflow-x: hidden;
}
.btn-darkgreen {
  border-color: #365247 !important;
  color: #365247 !important;
  background-color: transparent !important;
}
.btn-darkgreen:hover {
  color: white !important;
  background-color: #365247 !important;
  border-color: #365247 !important;
}